
.page_content {
    box-sizing: content-box;
    height: 500px
}


.text {
    background: #4aaaa5;
    position: absolute;
    width: 100%;
    padding: 10px;
    bottom: 20%;
    text-align: center;
    


    /* align images to left and right of contentContainer then edjust image size and background to fit */